body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E9F0F0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.form-container {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center !important;
}

form {
  width: 90%;
  margin: 0 auto;
}

.input-width {
  width: 100%;
}

.submit-btn {
  background-color: #005A3C !important;
  width: 100%;
  color: #ffffff !important;
  text-transform: initial !important;
}

.form-label {
  font-size: 12px;
  padding-bottom: 5px;
}

.toggle-form {
  cursor: pointer;
  color: blue;
  font-size: 12px;
}

.login-err {
  text-align: center;
  color: red;
}

.header {
  flex-grow: 1;
}

.app-bar {
  background-color: #005A3C !important;
}

.logout-btn {
  text-transform: initial !important;
}

.file-upload-container {
  border: 4px dotted brown;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px;
}

.pointer {
  cursor: pointer;
}

.file-upload-container div:focus {
  outline: 0;
  border: none;
}

.action {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.table-head {
  background-color: #7D9181;
}

tbody tr:nth-child(even) {
  background-color: #E9F0F0;
}

tbody tr:nth-child(odd) {
  background-color: #B8D5D1;
}

.files-table {
  width: 80%;
  margin: 50px auto;
}

.msg {
  font-size: 12px;
}

.mb-3 {
  margin-bottom: 3px;
}
